# Venv/Intellij
venv/
.idea/

# Django
db.sqlite3

# Python
*.pyc
*.pyo

# VIM (for editing on prod)
.*.swp
*/.*.swp

# Static files
static_weplate/

data/db/*
data/db/*/*

cloud_sql_proxy
cloud_sql_proxy_x64.exe

# Parsing babson data
data/babson/~$*.xlsx
data/babson/meal_items.json
backend/test_inter.csv
backend/test_copy.csv
backend/test_inter_0-30.csv
backend/test_inter_31-51.csv
*.csv
