<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
</head>
<body>
    <h1>Weplate (Non-Django) Root</h1>

    <ul>
        <li>
            <a href="{% url 'da:view_all' %}">View All</a>
        </li>
        <li>
            <a href="{% url 'da:add_school_account' %}">Add School Account</a>
        </li>
        <li>
            <a href="{% url 'da:test_algorithm_choices' %}">Test Algorithm (Choices and Portions)</a>
        </li>
        <li>
            <a href="{% url 'da:jobs' %}">View Past Jobs</a>
        </li>
        <li>
            <a href="/admin/logout/">Logout</a>
        </li>
    </ul>

    <h2>Django Admin</h2>

    <p>
        <a href="/admin/">Django Admin</a>
    </p>

    {% if messages %}
        <h2>Messages</h2>
        <ul>
        {% for msg in messages %}
            <li>
                <p>{{ msg }}</p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>