<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Algorithm</title>
</head>
<body>

<h1>Testing Algorithm Portions</h1>

<p>Back to <a href="{% url 'da:test_algorithm_choices' %}">choices</a></p>
<hr>

{% if error %}
    <p>There are the following errors that are preventing the tester from working: {{ error }}</p>
{% else %}
<ul>
    <li><p>User: {{ profile }} (id: {{ profile.id }})</p></li>
    <li><p>Large Item: {{ large }} (id: {{ large.id }})<p></li>
    <li><p>Small Item 1: {{ small1 }} (id: {{ small1.id }})</p></li>
    <li><p>Small Item 2: {{ small2 }} (id: {{ small2.id }})</p></li>
</ul>

<h2>Overall Stats</h2>

<table>
    <tr>
        <th>Nutrient</th>
        <th>Expected</th>
        <th>Got</th>
        <th>Low</th>
        <th>High</th>
    </tr>
    {% for k, v1, v2, v3, v4 in info %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v1 }}</td>
            <td>{{ v2 }}</td>
            <td>{{ v3 }}</td>
            <td>{{ v4 }}</td>
        </tr>
    {% endfor %}
</table>

<ul>
    <li>Cost: {{ cost }}</li>
    <li>Runtime: {{ runtime }}s</li>
    <li>Large Size: {{ large_size }}mL</li>
    <li>Small 1 Size: {{ small1_size }}mL</li>
    <li>Small 2 Size: {{ small2_size }}mL</li>
</ul>
{% endif %}

</body>
</html>