<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
</head>
<body>
    <h1>Weplate Root</h1>

    <ul>
        <li>
            <a href="{% url 'da_view_all' %}">View All</a>
        </li>
        <li>
            <a href="{% url 'da_update_school_data' %}">Update School Data</a>
        </li>
        <li>
            <a href="{{ algorithm_test_url }}">Test Algorithm (with sample data)</a>
        </li>
        <li>
            <a href="{% url 'da_clear_cache' %}">Clear Cache</a>
        </li>
    </ul>

    {% if messages %}
        <h2>Messages</h2>
        <ul>
        {% for msg in messages %}
            <li>
                <p>{{ msg }}</p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>